*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 56px;
    font-family: 'Quicksand';
    color: #0A2540;
}

h2{
    font-size: 36px;
    font-family: 'Montserrat';
}

h3{
    font-size: 24px;
    font-family: 'Montserrat';
}

h4{
    font: 18px;
    font-family: 'aileron';
}

p{
    font-size: 22px;
    font-family: 'aileron';
    color: #415466;
}

hr{
    height: 5px;
    width: 201px;
    background-color: #366A9E;
}

.acentoazul{
    color: #005993;
}

.acentonaranja{
    color: #F77F00;
}

.acentoverde{
    color: #87B336;
}

.acentorojo{
    color: #FF0153;
}

.beneficios{
    display: inline-block;
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
}
.beneficio-ind{
    color: #001D3D;
    font-size: 22px;
    text-align: justify;
    font-family: 'aileron', sans-serif;
    font-weight: 400;
    width: 250px;
    display: inline-block;
    margin: 0px 0px 0px 80px;
}

body{
    background-color: #F5F5F7;
}

.boton{
    position: absolute;
    padding-left: 65%;
    padding-top: 10%;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.cards .card{
    background: white;
    display: flex;
    width: 818px;
    height: 318px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

.cards .card > .contenido-texto-card{
    padding-left: 5%;
    width: 50%;
    text-align: justify;
}

.cards .card h4{
    margin-bottom: 25px; 
}

.cards .card .img-card{
    width: 288px;
    height: 288px;
    border-radius: 5%;
    margin-left: 100px;
}

.cards-landing{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding: 5%;
}

.cards-landing .card-landing{
    background: white;
    display: flex;
    width: 290px;
    height: 210px;
    align-items: center;
    border-radius: 10px;
    margin-top: 100px;
}

.cards-landing .card-landing > .texto-card-landing{
    padding-left: 10%;
    width: 90%;
    text-align: left;
}

.contenedor{
    padding: 30px 0;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.contenedors{
    display: flex;
}

.contenido-textos h3{
    margin-top: 15px;
}



/* Main */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 100px;
}


.contenedor-sobre-nosotros .contenido-textos p{
    margin-top: 50px;
    width: 50%;
    padding: 0px 0px 30px 0px;
    font-weight: 300;
    text-align: justify;
}

.cumplirregulacion{
    margin-top: 200px;
}

.fin .contenedor{
    width: 60%;
    padding: 10%;
    text-align: justify;
}

.fin .fin-boton{
    margin-top: 30px;
    margin-left: 20%;
    border-radius: 50px;
    width: 324px;
    height: 40px;
    background-color: #82D930;
    color: white;
    font-size: 22px;
    font-family: 'aileron';
    border: none;
}

.fin .fin-boton:hover{
    background-color: #F77F00;
}

.fin .contenedor h2{
    text-align: left;
}

/* Footer */

footer{
    width: 100%;
    height: 350px;
    background-color: #001D3D;
    color: white;
}

footer .contenedor-footer{
    padding-top: 8%;
    padding-left: 10%;
}

footer .contenedor-footer .img-footer{
    margin-bottom: 20px;
    width: 170px;
    height: 50px;
}

/* Header */
header{
    width: 100%;
    height: 450px;
    color: #0A2540;
    background: #F5F5F7;
}

#halfbanner{
    width: 50%;
}


header .textos-header{
    padding: 0px 100px;
    margin-top: 285px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.btn_solicitademo{
    margin-top: 50px;
    margin-left: 0%;
    border-radius: 10px;
    width: 240px;
    height: 50px;
    background-color: #8CC04B;
    color: white;
    font-size: 22px;
    font-family: 'aileron';
    border: none;
}

.info{
    height: 1235px;
    background-color: #001D3D;
    color: white;
}

.info h2{
    color: white;
    margin-top: 100px;
}

.info .contenido-textos{
    padding: 5%;
    width: 50%;
}
.info .contenido-textos h2{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 100px;
}

.info .contenido-textos p{
    width: 100%;
}

.linea-carac{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

nav{
    width: 100%;
    background-color: #001D3D;
    height: 70px;
    position: sticky;
    font-family: 'aileron', sans-serif;
    font-weight: 400;
}

nav .img-menu{
    align: left;
}

.portafolio .galeria{
    display: flex;
    justify-content: space-evenly;
}

.portafolio .contenido-textos{
    margin-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
}

.sobre-nosostros .contenido-textos{
    width: 100%;
}

#textoabout{
    width: 418px;
    font-size: 22px;
    font-family: 'aileron', sans-serif;

}
header .textos-header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.textos-header h2{
    font-size: 22;
    font-family: 'aileron', sans-serif;
    font-weight: 400;
    padding-top: 20px;
    width: 80%;
}

.img-header{
    float: right;
    width: 830px;
    height: 391px;
    position: absolute;
    top: 250px;
    left: 610px;
}

.textos-cuerpo{
    font-size: 22;
    font-family: 'aileron', sans-serif;
    font-weight: 400;
}


.time-horizontal {
    list-style-type: none;
    border-top: 1px solid #707070;
    max-width: 800px;
    padding: 0px;
    margin: 0px;
}
 
.time-horizontal li {
    float: left;
    position: relative;
    text-align: center;
    width: 25%;
    padding-top: 10px;
}
 
.time-horizontal li b:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 47%;
    width: 12px;
    height: 12px;
    border: 2px solid #4c4c4c;
    border-radius: 8px;
    background: #4c4c4c;
}


.titulo{
    color: #0A2540;
    font-size: 36px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tituloEECC{
    color: #0A2540;
    font-size: 36px;
    margin-bottom: 30px;
    position: right;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.titulos{
    padding: 6.5%;
}

ul {
    text-align: right;
    padding: 21px 100px 21px 100px;
    
}
ul li {
    list-style: none;
    display: inline-block;
    

}

ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'aileron', sans-serif;
    font-weight: 400;   
    font-size: 22px;
    padding-left: 60px;
    display: inline-block;

}

ul li a:hover {
    color:#F77F00;  
}

ul .beneficio {
    padding: 0px 0px 0px 80px;
    width: 100%;
    align-content: center;

}
ul li .beneficio {
    list-style: none;
    height: 90px;

}

.wrapper{
    margin: 0px 100px;
}